# eclipse project files
.project
.metadata
.texlipse
*.aux
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# latex output
*.dvi
*.pdf

# minted plugin aux files
_minted**

# do not exclude libs
!lib/*
!resources/*
/document.synctex.gz
/InformeBaboon.aux
/InformeBaboon.log
/documen.synctex.gz
/output/
/-shell-escape document.synctex.gz
